/* ======================
   ORIGINAL DESKTOP CSS
   (UNCHANGED)
   ====================== */

body {
    background-color: #dceaf7;  /* Light blue */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dceaf7;
    display:flex;
    justify-content: center;
}

ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 55px;
    text-decoration: none;
    border: 2px solid black;
    bac
